body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav>li {
    padding: 0 19px;
    letter-spacing: 2.6px;
}

.nav-item {
    color: #6e7ea9
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 22px 40px;
    border-radius: 30px;
    letter-spacing: 2.6px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    background-color: #cbdbe8;
    text-transform: uppercase;
    padding: 22px 40px;
    border-radius: 30px;
    letter-spacing: 2.6px;
    border: 1px solid #cbdbe8;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a {
    margin-left: 15px;
}


/* .grid-item:nth-child(3) {
    color:gold;
    background: gray;
} */

.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    letter-spacing: 1.69px;
    padding: 22px 56px;
}

.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-transform: uppercase;
    padding: 20px 62px;
    border-radius: 30px;
    letter-spacing: 2.41px;
}

.btn-blue {
    padding: 20px 62px;
    letter-spacing: 2.45px;
}

.btn-learn {
    padding: 23px 62px;
    letter-spacing: 2.58px;
}

.btn-submit {
    padding: 22px 63px;
    letter-spacing: 2.24px;
}

.grid p {
    color: #7581a1;
    font-weight: 400;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-rosalina span {
    font-size: 16px;
    font-weight: 700;
    color: #283964;
}

.grid-rosalina1 p {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item p {
    font-size: 16px;
    font-weight: 600;
    color: #7581a1;
}

.page-subscribe span {
    font-size: 14px;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
}

.page-subscribe button {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 17px 44px;
    border-radius: 30px;
    letter-spacing: 2.76px;
}

.page-subscribe input {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
    background-color: #10359f;
}

.page-subscribe input::placeholder {
    color: #b1c3ee;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #7581a1;
}

.page-stat span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3.0;
    margin-bottom: 15px;
}

.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    color: #6e7c9b;
    line-height: 1.2;
    letter-spacing: -1.5;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 75px;
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    letter-spacing: 2.5px;
    text-align: center;
    list-style-type: none;
}

.page-stat ul span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 20px;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-app span {
    display: block;
    color: #c4d2dd;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.page-landing h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-landing p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-landing button {
    font-size: 12px;
    font-weight: 700;
    color: #9fcef4;
    background-color: #1085e4;
}

.page-eztoedit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-eztoedit p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-eztoedit button {
    font-size: 12px;
    font-weight: 700;
    color: #9fcef4;
    background-color: #1085e4;
}

.page-screen span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}

.page-clients span {
    font-size: 18px;
    font-weight: 800;
    color: #85c8ff;
    display: block;
    text-transform: uppercase;
}


/*flex basis 32% для ПланаChouse plan*/

.page-clients h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.page-clients p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.name {
    color: #000958;
}

.position {
    color: #1085e4;
    text-transform: uppercase;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacddc;
    margin-top: 60px;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.page-stat {
    background-color: #edf6ff;
    padding: 115px 0 95px 0;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-stat .title-h2 {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.page-screen {
    text-align: center;
    padding: 80px 0 0 0;
}

.screen-h2 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.screen-h2 {
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -2px;
}

.img-stats {
    margin-top: 40px;
    margin-bottom: -10px;
}

.page-plan {
    text-align: center;
}

.plan-h2 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 19px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.plan-h2 {
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1px;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}

.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item1 h3:first-child {
    margin-bottom: 35px;
}

.box-price-item h3 span:first-child {
    color: #000958;
}

.box-price-item.active h3 span:first-child {
    color: #fff;
}

.box-price-item.active h3 {
    color: #fff;
}

.box-price-item h3 span:last-child {
    color: #7b8ab2;
}

.box-price-item.active {
    background-color: #152b59;
    color: #fff;
}

.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-size: 14px;
}

.box-price-item ul>li {
    margin-bottom: 14px;
}